[run]
source = BALSAMIC
omit =
    # Excluding snakemake rules
    BALSAMIC/snakemake_rules/*
    # Excluding snakemake workflows
    BALSAMIC/workflows/*
    # Excluding assests
    BALSAMIC/assets/*
    # Exclude tests directory
    tests/*

[report]
omit =
    # Excluding snakemake rules
    BALSAMIC/snakemake_rules/*
    # Excluding snakemake workflows
    BALSAMIC/workflows/*
    # Excluding assests
    BALSAMIC/assets/*
    # Exclude tests directory
    tests/*

exclude_lines = 
    # Don't complain if non-runnable code isn't run
    if __name__ == '__main__':
        main()
