doc/.ipynb_checkpoints/
*.snakemake*
.*.swp
src/vardict_snakemake/output
src/vardict_snakemake/ref_data
*tmp*
src/output
src/ref_data
data/simulated_data_131217/output
data/simulated_data_131217/ref_data
data/snakemake_tutorial_data_131217/output
data/snakemake_tutorial_data_131217/ref_data/
*playground*
conda_requirement_list.sh
data/TCRB_data_020118/
src/workflows/prototype.png
src/workflows/StrelkaSomaticWorkflow/
src/workflows/logs*
src/workflows/script*
src/workflows/helloworld*
data/simulated_data_131217/patient_0
data/simulated_data_131217/patient_0result*
*__pycache__
*pyc
*.egg-info*
*.coverage
*pytest_cache
*pdf
tests/test_data*
BALSAMIC/config/install.json
BALSAMIC/workflows/VariantCalling_testing
build/
dist/
BALSAMIC_env.yaml
