# including
include CHANGELOG.rst
include LICENSE
include README.rst
include requirements.txt
include requirements-dev.txt

# config data
recursive-include BALSAMIC/config *

# assests
recursive-include BALSAMIC/assets/scripts *
recursive-include BALSAMIC/assets/sentieon_models *
recursive-include BALSAMIC/assets/report_template *
include BALSAMIC/assets/scout_config_template.yaml

# SnakeMake assets
recursive-include BALSAMIC/snakemake_rules *
recursive-include BALSAMIC/workflows *
