cluster: "sbatch --parsable --account {config[account]} --partition core --qos {config[qos]} --time={resources.runtime} --mem={resources.mem_mb}M --cpus-per-task={resources.threads} --error {config[analysis][log]}/BALSAMIC.{config[analysis][case_id]}.{rulename}.%j.err --output {config[analysis][log]}/BALSAMIC.{config[analysis][case_id]}.{rulename}.%j.out"
jobs: 999
default-resources:
    runtime: 120
    mem_mb: 4000
    threads: 2
max-status-checks-per-second: 2
max-jobs-per-second: 1
local-cores: 1
restart-times: 2