Bootstrap: docker 
From: centos:latest

%help
    Bioinformatic analysis pipeline for somatic mutations in cancer.

%labels
    Maintainer Hassan Foroughi Asl <hassan.foroughi@scilifelab.se>
    Description Core container for BALSAMIC
    Version 0.0.1

%post
    yum install -y coreutils
    yum install -y wget
    yum install -y which
    yum install -y bzip2
    yum install -y graphviz
    yum install -y git
    yum install -y gcc
    yum install -y fontconfig
    # install anaconda
    if [ ! -d /usr/local/anaconda ]; then
        wget https://repo.continuum.io/miniconda/Miniconda3-4.6.14-Linux-x86_64.sh\
           -O ~/anaconda.sh && \
        bash ~/anaconda.sh -b -p /usr/local/anaconda && \
        rm ~/anaconda.sh
    fi

    # create necessary directories
    if [ ! -d /git_repos ]; then mkdir /git_repos; fi
    if [ ! -d /conda_envs ]; then mkdir /conda_envs; fi

    # set anaconda path
    export PATH=$PATH:/usr/local/anaconda/bin
    
    # Git clone BALSAMIC
    # The following fixes the error for Click
    # RuntimeError: Click will abort further execution because Python 3 was
    # configured to use ASCII as encoding for the environment. Consult
    # https://click.palletsprojects.com/en/7.x/python3/ for mitigation steps.
    export LC_ALL=en_US.utf-8
    export LANG=en_US.utf-8
    cd /git_repos
    git clone https://github.com/Clinical-Genomics/BALSAMIC --branch=3.0.1
    cd BALSAMIC
    ./install.sh -s P -d master -p /usr/local/anaconda/envs

%environment
    # The following fixes the error for Click
    # RuntimeError: Click will abort further execution because Python 3 was
    # configured to use ASCII as encoding for the environment. Consult
    # https://click.palletsprojects.com/en/7.x/python3/ for mitigation steps.
    export LC_ALL=en_US.utf-8
    export LANG=en_US.utf-8
    export PATH=$PATH:/usr/local/anaconda/bin
    export BALSAMIC_STATUS='container'

# P_BALSAMIC-base_master
%appenv P_BALSAMIC-base_master
    source activate P_BALSAMIC-base_master
%apphelp P_BALSAMIC-base_master
    Runs core BALSAMIC CLI.
%apprun P_BALSAMIC-base_master
    exec "$@"

# P_BALSAMIC-py27_master
%appenv P_BALSAMIC-py27_master
    source activate P_BALSAMIC-py27_master
%apphelp P_BALSAMIC-py27_master
    Runs P_BALSAMIC-py27_master
%apprun P_BALSAMIC-py27_master
    exec "$@"

# P_BALSAMIC-py36_master
%appenv P_BALSAMIC-py36_master
    source activate P_BALSAMIC-py36_master
%apphelp P_BALSAMIC-py36_master
    Runs P_BALSAMIC-py36_master
%apprun P_BALSAMIC-py36_master
    exec "$@"

%runscript
    exec echo "Try running with --app"
