appdirs==1.4.4
configargparse==1.5.3
docutils>=0.14,<0.18
recommonmark==0.7.1
sphinx==4.2.0
sphinx-argparse==0.3.1
sphinx-click==3.0.2
sphinx_rtd_theme==1.0.0
sphinxcontrib-napoleon==0.7
furo==2021.10.9
cyvcf2==0.30.15
