name: pytests
on:
  pull_request:
    paths-ignore:
      - "CHANGELOG.rst"
      - "docs/**"
  push:
    branches: [ master ]
    paths-ignore:
      - "CHANGELOG.rst"
      - "docs/**"

jobs:
  pytest_coveralls:
    name: run PyTest
    runs-on: ubuntu-22.04
    steps:
      - name: Git checkout
        uses: actions/checkout@v3

      - name: setup conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: balsamic
          environment-file: BALSAMIC/conda/balsamic.yaml
          # optional speed-ups:
          # auto-activate-base: false
          # use-mamba: true

      - name: Install the HTML to PDF renderer
        run: sudo apt-get update && sudo apt-get install -y wkhtmltopdf

      - name: Install BALSAMIC + test extras
        shell: bash -l {0}
        run: |
          conda activate balsamic
          pip install --no-cache-dir -e .[test]

      - name: Run PyTest
        shell: bash -l {0}
        env:
          SENTIEON_LICENSE: dummy_license
          SENTIEON_INSTALL_DIR: dummy_install_dir
        run: |
          conda activate balsamic
          pytest --cov-report=xml --cov=BALSAMIC -rsxv tests/*

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          flags: unittests
          fail_ci_if_error: true
          verbose: true